@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?83e0d6aae3b0b45ede6961c121100336") format("truetype"),
url("./flaticon.woff?83e0d6aae3b0b45ede6961c121100336") format("woff"),
url("./flaticon.woff2?83e0d6aae3b0b45ede6961c121100336") format("woff2"),
url("./flaticon.eot?83e0d6aae3b0b45ede6961c121100336#iefix") format("embedded-opentype"),
url("./flaticon.svg?83e0d6aae3b0b45ede6961c121100336#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-location:before {
    content: "\f101";
}
.flaticon-calendar-interface-symbol-tool:before {
    content: "\f102";
}
.flaticon-play:before {
    content: "\f103";
}
.flaticon-bag:before {
    content: "\f104";
}
.flaticon-call:before {
    content: "\f105";
}
.flaticon-mail:before {
    content: "\f106";
}
.flaticon-search-interface-symbol:before {
    content: "\f107";
}
.flaticon-nine-squares:before {
    content: "\f108";
}
.flaticon-user:before {
    content: "\f109";
}
.flaticon-arrow-point-to-right:before {
    content: "\f10a";
}
